@page "/user/{Id}"
@using System.Net.Http
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using System.Net.Http.Json
@using System.Net
@using System.Collections.Generic

<h3>Utilizador: </h3>

@if (users == null)
{
    <p>Loading...</p>
}
else if (users.Count == 0)
{
    <p>No experiences found.</p>
}
else
{
    @foreach (var user in users)
    {
        <p><b>Nome: </b>@user.name</p>
        <p><b>Country: </b>@user.country</p>
        <p><b>Email: </b>@user.email</p>
        <p><b>Ganho mensal: </b>@(user.prHora * 176.00)€</p>
        <h4>Skills: </h4>
        <ul>
            @foreach (var skill in user.user_Skill)
            {
                <li>
                    <p><b>Skill Name: </b>@skill.skill[0].name</p>
                    <p><b>Area: </b>@skill.skill[0].area</p>
                    <p><b>Years of Experience: </b>@skill.anoXp</p>
                </li>
            }
        </ul>
    }
}

@code {
    private List<UserItem>? users;
    private HttpClient httpClient;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        httpClient = new HttpClient();
        users = await httpClient.GetFromJsonAsync<List<UserItem>>($"http://localhost:5052/api/Users/{Id}");
    }

    public class UserItem
    {
        public Guid id { get; set; }
        public double prHora { get; set; }
        public string name { get; set; }
        public string email { get; set; }
        public string country { get; set; }
        public List<UserSkill> user_Skill { get; set; }
    }

    public class UserSkill
    {
        public int anoXp { get; set; }
        public List<Skill> skill { get; set; }
    }

    public class Skill
    {
        public string name { get; set; }
        public string area { get; set; }
    }
}